.title{
    padding:30px 0;
    font-weight: 900;
    text-indent: 3em;
    text-shadow: -1px 1px 0px #0066ff,
                 -2px 2px 0px #004bbd,
                 -3px 3px 0px #003e9b;
    
}

.titre{
    background-color: #0066ff;
}

.card{
    animation: fadein .5s;
    margin: 0 auto; 
    float: none; 
    width: 300px;
    margin-top: 20px;
    text-align: center;
    position: relative;
    transition: box-shadow 1s linear;
}

.card:hover{
	box-shadow: 5px 5px 10px #bbb;
}

.large{
    display: block;
    width: 100%;
}
.invalid-feedback{
    display: none;
}
.invalid-edit{
    display: none;
    color: black;
}
.todo-save{
    margin-top: 20px;
}
.conrainer{
    display: flex;
}
.icon{
    display: none;
    
}

.card:hover .icon{
    animation: fadein 1s;
    display: block;
    position: absolute;
    font-size: 1.5em;
    top: 20px;
    left: 15px;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}